body {
	font-family: sans-serif;
	margin: 0;
	padding: 0 1rem;
}

fieldset {
	margin: 1rem 0;
	padding: 0 0 1rem;
	border: 0;
}

	fieldset legend {
		font-weight: bold;
	}

label {
	display: block
}

input[type=text], input[type=password], select {
	margin-top: 5px;
	padding: 5px;
	width: 100%;
}

button {
	background: darkgreen;
	color: #fff;
	border: 0;
	padding: .5rem 1rem;
	min-width: 95px;
	font-weight: bold;
}
